---
import { Image, type LocalImageProps } from "astro:assets";
import LicenseTile from "./LicenseTile.astro";

import star from "../../../assets/license/star.svg";
import suitcase from "../../../assets/license/suitcase.svg";
---

<section id="pricing" class="flex min-h-screen flex-col items-center justify-center gap-y-12 mx-4 sm:mx-8 xl:mx-40 2xl:h-fit 2xl:min-h-[unset] 2xl:py-40">
    <div class="justify-center text-center">
        <h2 class="mb-6 text-homeLicense-header">Pricing</h2>
        <p class="text-homeLicense-subheader text-center">
            Smelter is free to use excluding some enterprise-scale business applications.
        </p>
    </div>


    <div class="gradient-light-4 flex rounded-4xl p-px">
      <div class="h-full w-full rounded-[calc(2rem-1px)] bg-explanation-background p-10">
        <div class="relative z-0 flex h-full flex-col">
          <div class="flex items-center gap-4 mb-8">
            <div class="flex grow aspect-square w-14 h-14 max-w-14 max-h-14 rounded-2xl border border-homeLicense-border overflow-clip md:w-16 md:h-16 md:max-w-16 md:max-h-16">
              <div class="gradient-light-3 w-full h-full aspect-square">
                <div class="flex items-center justify-center p-3 md:p-4">
                  <Image src={star} alt="capability icon" class="w-full h-full object-cover" />
                </div>
              </div>
            </div>
            <div class="flex">
              <h2 class="text-capabilities-header text-start">Free</h2>
            </div>
          </div>
          <div class="flex flex-col gap-y-6 sm:flex-row">
            <div class="text-capabilities-text flex flex-col flex-1 sm:pl-4">
              <h3>Offline processing</h3>
              <p class="mt-2 sm:mt-4">Enjoy free use of Smelter for all offline tasks, including pre-recorded video processing and batch operations.</p>
            </div>
            <div class="text-capabilities-text flex flex-col flex-1 sm:px-10">
              <h3>Live processing</h3>
              <p class="mt-2 sm:mt-4">Compose live streams in real-time, within enterprise usage limits. See more details below.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-full flex-1 rounded-4xl border border-capabilities-border p-10">
      <div class="flex items-center gap-4 mb-8">
        <div class="flex grow aspect-square w-14 h-14 max-w-14 max-h-14 rounded-2xl border border-homeLicense-border overflow-clip md:w-16 md:h-16 md:max-w-16 md:max-h-16">
          <div class="gradient-light-3 w-full h-full aspect-square">
            <div class="flex items-center justify-center p-3 md:p-4">
              <Image src={suitcase} alt="capability icon" class="w-full h-full object-cover" />
            </div>
          </div>
        </div>
        <div class="flex">
          <h2 class="text-capabilities-header text-start">Enterprise</h2>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row">
        <div class="text-capabilities-text flex flex-col justify-center flex-1 pr-10">
          <ul class="flex flex-col gap-4 sm:pl-4">
            <p><strong>Product Distribution:</strong> If you embed Smelter within software or hardware products intended for sale.</p>
            <p><strong>License Limits:</strong> If your usage exceeds the limits specified in <a href="/license">the license</a>.</p>
          </ul>
        </div>
        <div class="text-capabilities-text flex flex-col flex-1 sm:px-10">
          <h3>Trial</h3>
          <ul class="list-disc pl-4 flex flex-col gap-2 mt-4">
            <li>90-day free trial for all use-cases.</li>
            <li>No strings attached.</li>
            <li>No credit card required.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
