---
import FreeTile from "./FreeTile.astro";
---

<section class="flex h-screen flex-col items-center justify-center mx-40 gap-y-12">
    <div class="justify-center text-center">
        <h2 class="mb-6 text-license-header">License</h2>
        <p class="text-license-subheader text-center">
            Smelter is licensed under a <a href="" class="underline">Custom License</a>, designed to keep it accessible for growing teams<br />
            while supporting larger-scale use with fair licensing terms.
        </p>
    </div>

    <div class="flex flex-col items-center">
        <h3 class="text-license-header">You can use Smelter for free if...</h3>
        <div class="justify-center flex-row flex mt-4 gap-x-6">
            <FreeTile header="Small to Medium Teams" subHeader="Your company consists of 50 or fewer people, handling up to 10,000 peak concurrent viewers across 50 machines." />
            <FreeTile header="Programmable saas" subHeader="" />
            <FreeTile header="Software or hardware" subHeader="" />
            <!-- <FreeTile header="90-Day Trial" subHeader="Explore Smelter's capabilities with our no-strings-attached 90-day trial for new users." /> -->
            <!-- <FreeTile header="Offline Processing" subHeader="Perfect for pre-recorded videos or batch tasks, enhancing your content without real-time constraints." /> -->
            <!-- <FreeTile header="Small to Medium Teams" subHeader="Ideal for teams of 50 or fewer, handling up to 10,000 peak concurrent viewers across 50 machines." /> -->
            <!-- <FreeTile header="90-Day Trial" subHeader="Explore Smelter's capabilities with our no-strings-attached 90-day trial for new users." /> -->
        </div>
    </div>
<div class="flex">

  </div>
</section>
