---
import { Image } from "astro:assets";

import index1Image from "../../../assets/explanation/1.svg";
import index2Image from "../../../assets/explanation/2.svg";
import index3Image from "../../../assets/explanation/3.svg";
import smelterDiagramMobile from "../../../assets/explanation/smelter-diagram-mobile.svg";
import smelterDiagram from "../../../assets/explanation/smelter-diagram.svg";

const STEPS = [
  {
    text: "Stream inputs <br /> or provide MP4 files.",
    indexImage: index1Image,
  },
  {
    text: `Configure output video <br class="sm:hidden block"/> using React components.`,
    indexImage: index2Image,
  },
  {
    text: `Write the result to a file <br class="sm:hidden block" /> or stream it in real time.`,
    indexImage: index3Image,
  },
] as const;
---

<section
  class="flex flex-col items-center justify-center py-28 sm:px-8 xl:px-32 2xl:h-fit"
>
  <h2 class="mb-12 text-explanation-header">How does Smelter work?</h2>

  <div class="sm:hidden">
    <div class="flex">
      <Image
        src={smelterDiagramMobile}
        alt="smelter diagram"
        class="-z-10 self-center mb-8"
      />
    </div>
  </div>

  <div class="hidden sm:block">
    <div class="flex">
      <Image
        src={smelterDiagram}
        alt="smelter diagram"
        class="-z-10 self-center mb-8"
      />
    </div>
  </div>
</section>
