---
import { Image } from "astro:assets";

import smelterDiagram from "../../../assets/explanation/smelter_diagram.svg";
---

<section
  class="flex flex-col items-center justify-center px-4 py-40 sm:px-8 xl:px-32 2xl:h-fit 2xl:py-32"
>
  <h2 class="mb-12 text-explanation-header">How does Smelter work?</h2>
  <div class="flex">
    <Image src={smelterDiagram} alt={``} class="-z-10 self-center mb-8" />
  </div>
</section>
