$animationDelay: 0.3s;

.heroStreamLayer {
    position: absolute;
    opacity: 0;
    // top: 0;
    right: 0;
    z-index: -30;
    // left: 11rem;
    // top: 50%;
    // right: 0;
    // transform: translateY(25%);
    // transition: opacity $animationDelay ease-out $animationDelay;

    &--2 {
        @extend .heroStreamLayer;
        z-index: -20;
    }
    &--3 {
        @extend .heroStreamLayer;
        z-index: -10;
    }

    &--video {
        @extend .heroStreamLayer;
        z-index: -25;
    }
}