$animationDelay: 0.3s;

.heroStreamLayer {
    position: absolute;
    opacity: 0;
    // top: 0;
    right: 0;
    z-index: -10;
    // left: 11rem;
    // top: 50%;
    // right: 0;
    // transform: translateY(25%);
    // transition: opacity $animationDelay ease-out $animationDelay;

    &--2 {
        @extend .heroStreamLayer;
        // top: 2rem;
        // right: 5rem;
        // transition: opacity calc($animationDelay * 2) ease-out calc($animationDelay * 2);
    }
    &--3 {
        @extend .heroStreamLayer;
        // top: 4rem;
        // right: 10rem;
        // transition: opacity calc($animationDelay * 3) ease-out calc($animationDelay * 3);
    }
}