---
import Image from "astro/components/Image.astro";
import PrimaryButton from "../../components/base/buttons/PrimaryButton.astro";
import HeroStreams from "./HeroStreams.astro";

import arrowRight from "../../assets/arrow-right.svg";
import heroGradient from "../../assets/hero/gradient.png";
import swmLogo from "../../assets/swm-logo.svg";
---

<div class="flex h-screen flex-row justify-center py-14 items-center">
  <div class="flex-1 pl-40">
    <div class="mb-8 flex gap-x-2 px-4 py-2">
      <p class="par-xs text-hero-authorLabel">Created by</p>
      <Image src={swmLogo} alt="SoftwareMansion logo" class="fill-hero-authorLabel" />
    </div>
    <div class="mb-14 flex flex-col gap-y-4">
      <h1 class="text-hero-title">Mix video and audio<br />with low latency.</h1>
      <p class="par-l text-hero-subtitle">
        Media server for real-time, low latency, programmable video<br />and audio mixing.
      </p>
    </div>
    <a href="/docs" style="text-decoration: none; color: inherit;">
      <PrimaryButton>
        <p class="par-xl">Visit the docs</p>
        <Image src={arrowRight} alt="Visit docs" />
      </PrimaryButton>
    </a>
  </div>
  <HeroStreams />
  <Image src={heroGradient} alt="Hero" class="absolute -top-28 left-28 -z-40" />
</div>
