$animationDelay: 0.3s;

.heroStreamLayer {
    @apply w-full absolute left-0 top-1/2 -z-30 -translate-y-1/2;
    opacity: 0;
    transform: translate(20px, calc(-50% + 20px));
    animation: fadeInMove 0.5s ease-out forwards;
    
    &--1 {
        @extend .heroStreamLayer;
        animation-delay: $animationDelay;
    }
    &--2 {
        @extend .heroStreamLayer;
        top: calc(50% + 2rem);
        left: 9rem;
        animation-delay: calc($animationDelay * 2);
    }
    &--3 {
        @extend .heroStreamLayer;
        top: calc(50% + 4rem);
        left: 18rem;
        animation-delay: calc($animationDelay * 3);
    }
}

@keyframes fadeInMove {
    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}