---
import SmelterSection from "../../components/demos/broadcast/SmelterSection";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout
  canonicalUrl="https://smelter.dev"
  keywords="news broadcast, React live stream, video mixing, real-time compositor"
  description="Easily create news broadcasts with dynamic transitions using ready-to-go React components. Smelter is ideal for web developers seeking real-time video mixing solutions."
>
  <main class="flex items-center min-h-screen w-full overflow-clip pt-12 px-16">
    <div class="h-full flex flex-1 flex-col">
      <div
        class="w-full max-w-[1400px] relative gap-y-12 flex flex-col self-center"
      >
        <div class="mb-1">
          <h2 class="text-demos-header">News broadcast example</h2>
          <p class="text-demos-subheader">
            See how Smelter handles component transitions based on your input.
          </p>
        </div>
        <SmelterSection client:load />
      </div>
    </div>
  </main>
</DemosLayout>
