---
import SmelterSection from "../../components/demos/broadcast/SmelterSection";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout
  canonicalUrl="https://smelter.dev/demos/broadcast"
  keywords="video compositing, news broadcast, react video compositing, compositing software, real time video editing, live video editing, video mixing, live stream mixing"
  description="Low-latency video compositing tool with seamless developer experience. Easily create news broadcasts with dynamic transitions using ready-to-go React components."
>
  <main class="flex items-center min-h-screen w-full overflow-clip pt-12 px-4 sm:px-16">
    <div class="h-full flex flex-1 flex-col">
      <div
        class="w-full max-w-[1400px] h-full relative gap-y-4 flex flex-col self-center"
      >
          <SmelterSection client:load />
      </div>
    </div>
  </main>
</DemosLayout>
