---
import SmelterSection from "../../components/demos/compose-video/SmelterSection";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout
  canonicalUrl="https://smelter.dev/demos/compose-video"
  keywords="video compositing, react video compositing, compositing software, real time video editing, live video editing, video mixing, live stream mixing"
  description="Easily compose live streams and videos with ready-to-go React components. Smelter is perfect for web developers seeking real-time video mixing solutions."
>
  <main
    class="flex justify-center items-center min-h-screen w-full overflow-clip pt-12 px-16"
  >
    <div class="h-full flex flex-col">
      <div class="mb-20">
        <h2 class="text-demos-header">Compose video example</h2>
        <p class="text-demos-subheader">
          See how Smelter handles live video composition based your changes.
        </p>
      </div>
      <div
        class="w-full max-w-[1536px] relative gap-y-12 flex flex-col self-center"
      >
        <SmelterSection client:load />
      </div>
    </div>
  </main>
</DemosLayout>
