---
import SetupForm from "../../components/demos/streaming-app-setup/SetupForm";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout
  canonicalUrl="https://smelter.dev"
  keywords="live streaming application, React live stream, video mixing, real-time compositor, streaming layouts"
  description="Easily integrate Smelter into your React codebase. Stream directly from the browser and customize live streams using ready-to-go React components."
>
  <main class="flex items-center min-h-screen w-full overflow-clip pt-12 px-16">
    <div class="h-full w-full flex flex-1 flex-col">
      <div
        class="w-full max-w-[1536px] relative gap-y-12 flex flex-col self-center"
      >
        <div class="mb-4">
          <h2 class="text-demos-header">Streaming app example</h2>
          <p class="text-demos-subheader">
            Stream with custom layouts directly from Your Browser.
          </p>
        </div>
        <SetupForm client:load />
      </div>
    </div>
  </main>
</DemosLayout>
