---
import StreamSection from "../../components/demos/streaming-app/StreamSection";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout
  canonicalUrl="https://smelter.dev/demos/streaming-app"
  keywords="video compositing, live streaming application, react live stream, compositing software, real time video editing, live stream mixing, streaming layouts"
  description="Easily integrate Smelter into your React codebase. Stream directly from the browser and customize live streams using ready-to-go React components."
>
  <main class="flex items-center min-h-screen w-full overflow-clip py-12 px-16">
    <div class="h-full flex flex-1 flex-col">
      <div
        class="w-full max-w-[1400px] relative gap-y-4 flex flex-col self-center"
      >
        <StreamSection client:load />
      </div>
    </div>
  </main>
</DemosLayout>
