---
import SmelterSection from "../../components/demos/video-conference/SmelterSection";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout
  canonicalUrl="https://smelter.dev/demos/video-conference"
  keywords="video compositing, video conference, video call, react live stream, compositing software, real time video editing, live stream mixing"
  description="Low-latency video compositing tool with seamless developer experience. Easily set up video conferences with ready-to-go React components."
>  <main
    class="flex flex-col justify-center w-full overflow-clip pt-12 px-4 sm:px-16 h-screen"
  >
    <div
      class="w-full max-w-[1536px] relative gap-y-4 flex flex-col self-center justify-center"
    >
      <SmelterSection client:load />
    </div>
  </main>
</DemosLayout>
