---
import SmelterSection from "../../components/demos/video-conference/SmelterSection";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout canonicalUrl="https://smelter.dev">
  <main
    class="flex flex-col justify-center w-full overflow-clip pt-20 px-4 sm:px-16 h-screen"
  >
    <div
      class="w-full max-w-[1536px] relative gap-y-12 flex flex-col self-center justify-center"
    >
          <div class="mb-1">
        <h2 class="text-demos-header">Video conference example</h2>
        <p class="text-demos-subheader">With Smelter, you can create a video conference using ready-to-use React components.</p>
      </div>
      <SmelterSection client:load />
    </div>
  </main>
</DemosLayout>
