---
import SmelterSection from "../../components/demos/video-conference/SmelterSection";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout
  canonicalUrl="https://smelter.dev/demos/video-conference"
  keywords="video conference, video call, React live stream, video mixing, real-time compositor"
  description="Easily create video conferences with ready-to-go React components. Smelter is perfect for web developers seeking real-time video mixing solutions."
>  <main
    class="flex flex-col justify-center w-full overflow-clip pt-12 px-4 sm:px-16 h-screen"
  >
    <div
      class="w-full max-w-[1536px] relative gap-y-4 flex flex-col self-center justify-center"
    >
      <SmelterSection client:load />
    </div>
  </main>
</DemosLayout>
