---
import { Image } from 'astro:assets';
import UsageItem from './UsageItem.astro';

import usageGradient from '../../assets/usage-gradient.svg';

const USE_CASES = [
  {
    label: 'Standalone server',
    text: 'LiveCompositor can be deployed as a standalone server. Language-agnostic API allows you to seamlessly integrate it into your existing solutions. Dockerfiles and deployment section in docs are meant to make the deployment process as easy as possible.',
  },
  {
    label: 'Membrane plugin',
    text: 'Membrane is a developer-friendly multimedia framework for Elixir. You can easily add video and audio composing functionality into your multimedia pipeline using Membrane LiveCompositor Plugin.',
  },
  {
    label: 'React',
    text: 'Membrane is a developer-friendly multimedia framework for Elixir. You can easily add video and audio composing functionality into your multimedia pipeline using Membrane LiveCompositor Plugin.',
  },
] as const;
---

<section class="mx-40 mb-20 flex flex-col items-center">
  <h2 class="mb-6 text-usage-header">Usage</h2>
  <p class="text-usage-subHeader">Some text that is missing from current website.</p>
  <div class="mt-20 flex flex-col gap-y-4">
    {USE_CASES.map(useCase => <UsageItem {...useCase} />)}
  </div>
  <Image src={usageGradient} alt="gradient" class="absolute right-0 -z-10" />
</section>
