---
import LicenseSection from "../../components/license/LicenseSection.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="max-w-[1536px] 2xl:mx-auto">
    <LicenseSection />
  </main>
</MainLayout>
