---
import LicenseSection from "../../components/license/LicenseSection.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout canonicalUrl="https://www.smelter.dev/license">
  <main class="max-w-[1536px] 2xl:mx-auto">
    <LicenseSection />
  </main>
</MainLayout>
