---
import { Image } from 'astro:assets';

import smelterLogo from '../../assets/navigation/smelter-logo.svg';
import discordLogo from '../../assets/navigation/discord-logo.svg';
import githubLogo from '../../assets/navigation/github-logo.svg';
---

<header class="fixed w-full">
  <nav class="flex h-20 justify-between px-20">
    <Image src={smelterLogo} alt="Compositor logo" class="fill-nav-icon" />
    <div class="flex gap-x-6">
      <Image src={discordLogo} alt="Discord logo" class="fill-nav-icon" />
      <Image src={githubLogo} alt="Github logo" class="fill-nav-icon" />
    </div>
  </nav>
</header>
