---
// src/components/Search.astro
---

<div id="docsearch"></div>

<script>
  import docsearch from '@astrojs/starlight-docsearch';

  docsearch({
    appId: 'AB30AX8OU1',
    indexName: 'compositor',
    apiKey: '4dae5f71952b8ebd63dd7645128c3b24',
  });
</script>
