---
import MainLayout from '../layouts/MainLayout.astro';
import CapabilitiesSection from '../components/capabilities/CapabilitiesSection.astro';
import UseCasesSection from '../components/use-cases/UseCasesSection.astro';
import ExplanationSection from '../components/explanation/ExplanationSection.astro';

import ContactForm from '../components/ContactForm.astro';
import UsageSection from '../components/usage/UsageSection.astro';
import HeroSection from '../components/hero/HeroSection.astro';
---

<MainLayout>
  <main class="px-20">
    <HeroSection />
    <ExplanationSection />
    <UseCasesSection />
    <UsageSection />
    <CapabilitiesSection />
    <ContactForm />
  </main>
</MainLayout>
