---
import Image from 'astro/components/Image.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Button from '../components/base/Button.astro';
import CapabilitiesSection from '../components/capabilities /CapabilitiesSection.astro';

import swmLogo from '../assets/swm-logo.svg';
import tempHero from '../assets/temp-hero.svg';
import arrowRight from '../assets/arrow-right.svg';
import ContactForm from '../components/ContactForm.astro';
---

<MainLayout>
  <main class="px-20 pt-6">
    <div class="flex flex-col items-center justify-center">
      <div class="mb-8 flex gap-x-2">
        <p class="par-xs text-hero-authorLabel">Created by</p>
        <Image src={swmLogo} alt="SoftwareMansion logo" class="fill-hero-authorLabel" />
      </div>
      <div class="flex flex-col gap-y-4 text-center">
        <h1 class="text-hero-title">Mix video and audio with low latency.</h1>
        <p class="par-l text-hero-subtitle">
          Media server for real-time, low latency, programmable video and audio mixing.
        </p>
      </div>

      <div class="mb-14 mt-16">
        <Image src={tempHero} alt="Temp hero" />
      </div>
      <a href="/docs" style="text-decoration: none; color: inherit;">
        <Button>
          <p class="par-xl">Visit the docs</p>
          <Image src={arrowRight} alt="Visit docs" />
        </Button>
      </a>
    </div>
    <CapabilitiesSection />
    <ContactForm />
  </main>
</MainLayout>
