---
import TokenwindSwitch from '../components/tokenwind/TokenwindSwitch';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <main class="bg-mainBackground">
    <h1 class="text-3xl font-bold text-hero-title underline">Live compositor</h1>
    <p>Try to toggle the theme!</p>
    <div class="flex justify-center">
      <TokenwindSwitch client:only="react" />
    </div>
  </main>
</MainLayout>
