---
import ContactForm from "../components/ContactForm.astro";
import TestimonialsSection from "../components/home/TestimonialsSection.astro";
import CapabilitiesSection from "../components/home/capabilities/CapabilitiesSection.astro";
import HeroSection from "../components/home/hero/HeroSection.astro";
import LicenseSection from "../components/home/license/LicenseSection.astro";
import UsageSection from "../components/home/usage/UsageSection.astro";
import UseCasesSection from "../components/home/use-cases/UseCasesSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
export const prerender = false
---

<MainLayout canonicalUrl="https://smelter.dev">
  <main class="flex justify-center min-h-screen w-full overflow-clip">
    <div class="w-full max-w-[1536px] relative">
      <HeroSection />
      <CapabilitiesSection />
      <LicenseSection />
      <UsageSection />
      <UseCasesSection />
      <TestimonialsSection />
      <ContactForm />
    </div>
  </main>
</MainLayout>
