---
import ContactForm from "../components/ContactForm.astro";
import CapabilitiesSection from "../components/capabilities/CapabilitiesSection.astro";
import ExplanationSection from "../components/explanation/ExplanationSection.astro";
import HeroSection from "../components/hero/HeroSection.astro";
import LicenseSection from "../components/license/LicenseSection.astro";
import UsageSection from "../components/usage/UsageSection.astro";
import UseCasesSection from "../components/use-cases/UseCasesSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main>
    <HeroSection />
    <UseCasesSection />
    <!--
    <ExplanationSection />
    <CapabilitiesSection />
    <UsageSection />
    <LicenseSection /> -->
    <!-- <ContactForm /> -->
  </main>
</MainLayout>
