---
import PrivacyPolicySection from "@components/privacy-policy/PrivacyPolicySection.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout canonicalUrl="https://smelter.dev/privacy-policy">
  <main class="max-w-[1536px] 2xl:mx-auto">
    <PrivacyPolicySection />
  </main>
</MainLayout>
