---
import ContactForm from "../components/ContactForm.astro";
import ExplanationSection from "../components/ExplanationSection.astro";
import LicenseSection from "../components/home/license/LicenseSection.astro";
import CapabilitiesSection from "../components/react/capabilities/CapabilitiesSection.astro";
import ExamplesSection from "../components/react/examples/ExamplesSection.astro";
import HeroSection from "../components/react/hero/HeroSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout canonicalUrl="https://smelter.dev/react" rootHref="https://smelter.dev/react" navbarVariant="react">
<main class="flex justify-center min-h-screen w-full overflow-clip">
   <div class="w-full max-w-[1536px] relative">
      <HeroSection />
      <ExplanationSection />
      <CapabilitiesSection />
      <ExamplesSection />
      <LicenseSection />
      <ContactForm />
    </div>
  </main>
</MainLayout>
