---
import type { HTMLAttributes } from 'astro/types';

interface ButtonProps extends HTMLAttributes<'button'> {}

const { class: buttonClass, ...buttonProps } = Astro.props;
---

<button
  class:list={[
    'h-17.5 rounded-full bg-gradient-to-r from-hero-docsGradientFrom to-hero-docsGradientTo px-7 w-fit',
    buttonClass,
  ]}
  {...buttonProps}>
  <div class="flex gap-x-3 text-xl text-white">
    <slot />
  </div>
</button>
