---
import FooterWave from "@assets/footer.svg";
---

<footer class="relative h-[17.5rem] overflow-hidden mt-20 hidden sm:flex">
  <FooterWave class="footer-wave" />
  <div
    class="flex absolute inset-0 m-auto flex-col items-center justify-center gap-y-4 text-center px-18 mb-4"
  >
    <div class="hidden sm:flex w-full h-full items-center py-12">
      <div class="flex flex-1.5 h-full">
        <div class="flex flex-col gap-y-4 text-start">
          <span class="text-footer-text self-start">
            <h3 class="font-normal">Created by</h3>
            <a
              href="https://swmansion.com"
              target="_blank"
              class="text-footer-text hover:text-footer-linkHover transition-colors duration-300 ease-in-out"
            >
              <h3 class="font-medium">Software Mansion</h3>
            </a>
          </span>
          <p class="text-footer-text">
            Software Mansion S.A.<br />
            ul. Zabłocie 43b<br />
            30-701 Kraków, Poland<br />
            NIP/VAT EU: PL6793131302<br />
          </p>
        </div>
      </div>
      <div class="flex flex-1 justify-center h-full">
        <div class="flex flex-col items-start gap-1">
          <p class="font-medium mb-3 text-lg text-footer-text">Product</p>
          <a
            href="/#features"
            class="text-footer-link hover:underline cursor-pointer">Features</a
          >
          <a
            href="/#pricing"
            class="text-footer-link hover:underline cursor-pointer">Pricing</a
          >
          <a
            href="/#use-cases"
            class="text-footer-link hover:underline cursor-pointer">Use cases</a
          >
          <a
            href="/#reviews"
            class="text-footer-link hover:underline cursor-pointer">Reviews</a
          >
          <a
            href="/react#examples"
            class="text-footer-link hover:underline cursor-pointer"
            >Live demos</a
          >
        </div>
      </div>
      <div class="flex flex-1 justify-center h-full">
        <div class="flex flex-col items-start gap-1 text-nowrap">
          <p class="font-medium mb-3 text-lg text-footer-text">Resources</p>
          <a
            href="/ts-sdk/overview"
            target="_blank"
            class="text-footer-link hover:underline cursor-pointer"
            >React / TypeScript</a
          >
          <a
            href="https://hexdocs.pm/membrane_smelter_plugin/Membrane.Smelter.html"
            target="_blank"
            rel="noreferrer noopener"
            class="text-footer-link hover:underline cursor-pointer"
            >Elixir / Membrane</a
          >
          <a
            href="/deployment/variants/docker/"
            target="_blank"
            class="text-footer-link hover:underline cursor-pointer">Docker</a
          >
        </div>
      </div>
      <div class="flex flex-1 justify-center h-full">
        <div class="flex flex-col items-start h-full gap-1">
          <p class="font-medium mb-3 text-lg text-footer-text">Legal</p>
          <a
            href="/license"
            class="text-footer-link hover:underline cursor-pointer">License</a
          >
          <a
            href="/privacy-policy"
            class="text-footer-link hover:underline cursor-pointer"
            >Privacy policy</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
