---
import { Image } from "astro:assets";

import footerWave from "../../assets/footer2.svg";
import swmLogo from "../../assets/swm-logo.svg";
---

<footer class="relative h-[17.5rem] overflow-hidden">
  <Image src={footerWave} alt="Footer gradient" class="footer-wave" />
  <div class="absolute inset-0 m-auto flex flex-col items-center justify-center gap-y-6 text-center px-4">
    <a rel="noreferrer noopener" href="https://swmansion.com">
      <Image src={swmLogo} alt="SoftwareMansion logo" class="w-32 text-footer-logo" />
    </a>
    <a rel="noreferrer noopener" href="https://swmansion.com">
      <p class="par-xl text-footer-copyright">Copyright © 2024 Software Mansion S.A.</p>
    </a>
  </div>
</footer>
