---
import { Image, getImage } from "astro:assets";

import swmLogo from "/public/images/swm-logo.svg";
import footerWave from "../../assets/footer.svg";

const footerWaveImage = await getImage({
  src: footerWave,
  format: "svg",
});
---

<footer class="relative h-[17.5rem] overflow-hidden mt-20">
  <Fragment slot="head">
    <link rel="preload" href={footerWaveImage.src} as="image" />
  </Fragment>
  <Image src={footerWave} alt="Footer gradient" class="footer-wave" />
  <div class="absolute inset-0 m-auto flex flex-col items-center justify-center gap-y-4 text-center px-4 mb-4">
    <div class="flex flex-col items-center gap-y-4">
      <a rel="noreferrer noopener" href="https://swmansion.com" target="_blank">
        <Image src={swmLogo} alt="SoftwareMansion logo" class="w-32 text-footer-logo" />
      </a>
      <a rel="noreferrer noopener" href="https://swmansion.com" target="_blank">
        <p class="par-xl text-footer-copyright">Copyright © 2024 Software Mansion S.A.</p>
      </a>
    </div>

    <a href="/license" class="text-footer-link underline" target="_blank">
      License
    </a>
  </div>
</footer>
