---
import type { HTMLAttributes } from 'astro/types';

interface SelectProps extends HTMLAttributes<'select'> {
  label: string;
}

const { label, class: inputClass, ...selectProps } = Astro.props;
---

<label class="text-form-label">
  <p class="mb-2">{label}</p>
  <select
    class:list={['w-full rounded-2xl border border-form-border bg-transparent p-4', inputClass]}
    {...selectProps}>
    <slot />
  </select>
</label>
