---
import type { HTMLAttributes } from 'astro/types';

interface TextInputProps extends HTMLAttributes<'input'> {
  label: string;
}

const { label, class: inputClass, ...inputProps } = Astro.props;
---

<label class="text-form-label">
  <p class="mb-2">{label}</p>
  <input
    class:list={['w-full rounded-2xl border border-form-border bg-transparent p-4', inputClass]}
    {...inputProps}
  />
</label>
