---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  label: string;
}

const { label, class: inputClass, ...inputProps } = Astro.props;
---

<label class="text-form-label">
  <p class="mb-2">{label}</p>
  <input
    class="w-full rounded-2xl border border-form-border bg-mainBackground p-4"
    class:list={[inputClass, 'bg-mainBackground']}
    :class="{'bg-black': value}"
    {...inputProps}
  />
</label>
