---
import chip from "@assets/utilities/chip.svg";
import costream from "@assets/utilities/costream.svg";
import megaphone from "@assets/utilities/megaphone.svg";
import star from "@assets/utilities/star.svg";

import UtilityTile from "./UtilityTile.astro";

const UTILITIES = [
  { title: "Ads embedding", icon: megaphone },
  { title: "AI effects", icon: chip },
  { title: "AR avatars", icon: star },
  { title: "Collab streaming", icon: costream },
] as const;
---

<section
  class="px-4 my-40 flex flex-row justify-center items-center w-full relative sm:px-12 sm:pb-14 2xl:pb-20 2xl:h-fit scroll-mt-[30svh]"
>
  <div class="flex flex-row">
    <div class="flex flex-col w-full px-12">
      <div class="flex gap-8">
        <div class="relative flex flex-1 aspect-video">
          <video
            id="videoBottom"
            class="absolute top-0 left-0 aspect-video rounded-xl object-cover"
            playsinline
            autoplay
            muted
            loop
          >
            <source src="/example-video.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <video
            id="videoTop"
            class="absolute top-0 left-0 aspect-video rounded-xl object-cover"
            playsinline
            autoplay
            muted
            loop
          >
            <source src="/example-video.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="flex flex-1 flex-col gap-4 text-start">
          <h2 class="text-ai-header">Flexible live stream utilities</h2>
          <p class="text-useCases-tileSubheader">
            Build powerful live stream experiences. Our programmable toolkit
            gives developers ultimate control over real-time video composition
            and dynamic content integration directly into their applications.
          </p>
          <div class="scroller" data-direction="right" data-speed="slow">
            <div class="scroller__inner">
              {UTILITIES.map((utility) => <UtilityTile {...utility} />)}
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="flex mt-4">
        <div class="flex-1">
          <div
            class="border border-solid border-ai-border w-fit flex flex-1.5 rounded-xl p-px h-14"
          >
            <div
              class="relative z-0 flex h-full flex-col justify-center px-6 sm:px-7"
            >
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<style is:global>
  .scroller {
    max-width: 650px;
  }

  .scroller__inner {
    padding-block: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }

  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }

  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    // If a user hasn't opted in for recuded motion, then we add the animation
    if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
      addAnimation();
    }
    function addAnimation() {
      const scrollers = document.querySelectorAll(".scroller");
      scrollers.forEach((scroller) => {
        // add data-animated="true" to every `.scroller` on the page
        scroller.setAttribute("data-animated", true);

        // Make an array from the elements within `.scroller-inner`
        const scrollerInner = scroller.querySelector(".scroller__inner");
        const scrollerContent = Array.from(scrollerInner.children);

        // For each item in the array, clone it
        // add aria-hidden to it
        // add it into the `.scroller-inner`
        scrollerContent.forEach((item) => {
          const duplicatedItem = item.cloneNode(true);
          duplicatedItem.setAttribute("aria-hidden", true);
          scrollerInner.appendChild(duplicatedItem);
        });
      });
    }
    // const container = document.getElementById("squares-container");
    // if (!container) return;

    // const squares = Array.from(container.children);
    // const squareWidth = squares[0].offsetWidth;
    // const gap = 16;

    // console.log("SQUARES ", squares);

    // // Clone squares for seamless looping
    // squares.forEach((square) => {
    //   const clone = square.cloneNode(true);
    //   container.appendChild(clone);
    // });

    // // Set container width to accommodate all squares (originals + clones)
    // // const totalWidth = (squareWidth + gap) * squares.length;
    // // container.style.width = `${totalWidth * 2}px`;

    // let position = 0;
    // let animationId;

    // // Animation function
    // const animate = () => {
    //   position -= 1; // Speed of scrolling (adjust as needed)

    //   // Reset position when first set of squares is out of view
    //   if (position <= -totalWidth) {
    //     position = 0;
    //   }

    //   container.style.transform = `translateX(${position}px)`;
    //   animationId = requestAnimationFrame(animate);
    // };

    // // Start animation
    // animationId = requestAnimationFrame(animate);

    // // Optional: Cleanup on page unload
    // window.addEventListener("beforeunload", () => {
    //   if (animationId) {
    //     cancelAnimationFrame(animationId);
    //   }
    // });
  });
</script>
