---
import ArrowRight from "/public/images/arrow-right.svg";
import ReactScreens from "../../../assets/react/smelter-screens.svg";
import PrimaryButton from "../../base/buttons/PrimaryButton.astro";
import SecondaryButton from "../../base/buttons/SecondaryButton.astro";
---

<section class="relative mb-16 flex flex-col items-center text-center 2xl:mb-0">
    <h2 class="mb-2 text-capabilities-header">Interested in using Smelter?</h2> 
    <div class="flex flex-col w-[120%] items-center">

        <div class="flex gap-x-4 mt-4 absolute top-1/2 -translate-y-1/2">
            <a href="#pricing" style="text-decoration: none; color: inherit;">
                <SecondaryButton>
                    <p class="par-xl">Try for free</p>
                    <ArrowRight />
                </SecondaryButton>
            </a>
            <a href="/docs" style="text-decoration: none; color: inherit;">
                <PrimaryButton>
                    <p class="par-xl">Visit the docs</p>
                    <ArrowRight />
                </PrimaryButton>
            </a>
        </div>
        <ReactScreens class="max-w-screen hidden lg:flex" />
    </div>
</section>
