---

---

<button
  class="h-17.5 rounded-full bg-gradient-to-r from-hero-docsGradientFrom to-hero-docsGradientTo px-7">
  <div class="flex gap-x-3 text-xl text-white">
    <slot />
  </div>
</button>
