---
import { Image } from 'astro:assets';
import compositorLogo from '../assets/compositor-logo.svg';
---

<header>
  <nav class="flex h-20 justify-between px-20">
    <Image src={compositorLogo} alt="Compositor logo" class="fill-nav-icon" />
  </nav>
</header>
