---
import { Image } from "astro:assets";
import UseCaseTile from "./UseCaseTile.astro";

import useCase1Image from "../../assets/use-cases/temp-use-case1.png";
import useCase2Image from "../../assets/use-cases/temp-use-case2.png";
import useCase3Image from "../../assets/use-cases/temp-use-case3.png";
import useCasesWave from "../../assets/use-cases/use-cases-wave.svg";

const USE_CASES = [
	{
		header: "Video conferencing",
		subHeader: "Stream or record video conferences",
		image: useCase1Image,
	},
	{
		header: "Broadcasting",
		subHeader: "Compose broadcasts",
		image: useCase2Image,
	},
	{
		header: "Live-streaming",
		subHeader: "Create awesome live-streams",
		image: useCase3Image,
	},
] as const;
---

<section class="py-14">
    <div>
        <div class="sticky top-28">
            <div class="flex justify-center gap-x-24 mt-4 mx-40 mb-80">
                <div class="flex flex-1 flex-col gap-y-6">
                    <div class="sticky top-28">
                        <h2 class="mb-6 text-useCases-header">Use cases</h2>
                        <p class="text-useCases-subheader">
                            Use LiveCompositor for video conferencing, live-streaming,
                            broadcasting, and more.
                        </p>
                        <Image src={useCasesWave} alt="gradient" class="absolute -left-40 top-60 bottom-20 -z-10" />
                    </div>
                </div>              
                <div class="flex flex-1 flex-col gap-y-6">
                    {USE_CASES.map((useCase, index) => <UseCaseTile {...useCase} active={index === 0} />)}
                </div>
            </div>
        </div>
    </div>
</section>
