---
import { Image } from "astro:assets";

const { index, text, image, indexImage } = Astro.props;
---

<div class="gradient-light-1 flex h-full flex-1 rounded-4xl p-px aspect-[7/9]">
  <div class="h-full w-full rounded-[calc(2rem-1px)] bg-explanation-background">
    <div class="relative z-0 flex h-full flex-col p-6 pt-18 text-center">
      <Image src={indexImage} alt={`step ${index + 1}`} class="absolute top-10 -z-10 self-center" />
      <div class="h-[50%] mb-6">
        <h3 class="text-explanation-text" set:html={text} />
      </div>
      <div class="flex-grow" />
      <div>
        <div/>
        <Image class="w-full" src={image} alt={`step ${index} image`} />
      </div>
    </div>
  </div>
</div>
