---
import NavBar from '../components/NavBar.astro';
import TokenwindInit from '../components/tokenwind/TokenwindInit';
import TokenwindSwitch from '../components/tokenwind/TokenwindSwitch';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Live compositor</title>
  </head>
  <body class="bg-mainBackground">
    <TokenwindInit client:only="react" />
    <NavBar />
    <slot />
  </body>
  <style is:global>
    @import '../../styles/global.css';
  </style>
</html>
