---
import Footer from '../components/base/Footer.astro';
import NavBar from '../components/navigation/NavBar.astro';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Live compositor</title>
    <ViewTransitions />
  </head>
  <body class="overflow-x-hidden bg-mainBackground">
    <NavBar />
    <slot />
    <Footer />
  </body><style is:global>
    @import '../../styles/global.css';
  </style>
</html>
