---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/base/Footer.astro";
import Snackbar from "../components/base/Snackbar.astro";
import NavBar from "../components/navigation/NavBar.astro";

interface Props {
  canonicalUrl: string;
}

const { canonicalUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />   
    <link rel="preload" href="/fonts/Aeonik-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Aeonik-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Aeonik-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Aeonik-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Aeonik-Thin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/src/assets/swm-logo.svg" as="image" type="image/svg+xml" crossorigin>
    <link rel="preload" href="/src/assets/arrow-right.svg" as="image" type="image/svg+xml" crossorigin>
    <link rel="preload" href="/src/assets/navigation/smelter-logo.svg" as="image" type="image/svg+xml" crossorigin>
    <link rel="preload" href="/src/assets/navigation/discord-logo.svg" as="image" type="image/svg+xml" crossorigin>
    <link rel="preload" href="/src/assets/navigation/github-logo.svg" as="image" type="image/svg+xml" crossorigin>

    <meta name="generator" content={Astro.generator} />
    
    <meta name="description" content="Media server for real-time, programmable video and audio mixing.">
    <meta property="og:title" content="Smelter – Live stream mixing simplified" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.example.com/" />
    <meta property="og:description" content="Media server for real-time, programmable video and audio mixing." />
    <meta property="og:image" content="/og-image.png">
    <meta property="og:image:alt" content="Media server for real-time, programmable video and audio mixing.">
    
    <meta data-rh="true" name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Smelter – Live stream mixing simplified" />
    <meta property="twitter:description" content="Media server for real-time, programmable video and audio mixing." />
    <meta name=”twitter:image” content=”/og-image.png” />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalUrl} />

    <title>Smelter – Live stream mixing simplified</title>
    <ClientRouter />
  </head>
  <body class="bg-mainBackground">
    <NavBar />
    <slot />
    <Footer />
    <Snackbar header="Message sent" content="Thank you for your inquiry. We will contact you as soon as possible." />
  </body>
  <style is:global>
    @import '../../styles/font-face.scss';
    @import '../../styles/global.scss';
  </style>
</html>
