---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/base/Footer.astro";
import NavBar from "../components/navigation/NavBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <meta name="description" content="Media server for real-time, programmable video and audio mixing.">
    <meta property="og:title" content="Smelter – Live stream mixing simplified" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.example.com/" />
    <meta property="og:description" content="Media server for real-time, programmable video and audio mixing." />
    <meta property="og:image" content="/og-image.png">
    <meta property="og:image:alt" content="Media server for real-time, programmable video and audio mixing.">
    
    <meta data-rh="true" name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Smelter – Live stream mixing simplified" />
    <meta property="twitter:description" content="Media server for real-time, programmable video and audio mixing." />
    <meta name=”twitter:image” content=”/og-image.png” />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>Smelter – Live stream mixing simplified</title>
    <ClientRouter />
  </head>
  <body class="bg-mainBackground">
    <NavBar />
    <slot />
    <Footer />
  </body>
  <style is:global>
    @import '../../styles/global.scss';
  </style>
</html>
