---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'button'>;

const { class: buttonClass, ...buttonProps } = Astro.props;
---

<button class:list={['h-8 w-fit text-white', buttonClass]} {...buttonProps}>
  <div class="flex gap-x-3 text-xl">
    <slot />
  </div>
</button>
