---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & { textClass?: string };

const { class: buttonClass, textClass, ...primaryButtonProps } = Astro.props;
---

<button
  class:list={['bg-gradient-red-5 px-6 h-14 sm:px-7 sm:h-17.5 rounded-full w-fit shadow-none hover:shadow-[#fbc6cf40] hover:shadow-2xl hover:scale-[1.02] transition-all duration-300', buttonClass]}
  {...primaryButtonProps}>
  <div class:list={["flex gap-x-1.5 sm:gap-x-3 text-xl text-white justify-center items-center", textClass]}>
    <slot />
  </div>
</button>
